# Introduction to Python Pre-Processing

## Libraries

Libraries are like your trusted brands. They provide you with the best of the best tools (for free)

We'll be using
- **pandas**
- **numpy**

*Rule of Thumb: pandas for 2D things (like Excel), numpy for nD things (for more general cases)*

A specific package for your project is better than a package that deals with a wide array of things!

## Dataset (telecom_churn.csv)

The data we'll be using will be bundled together with these files, feel free to look at it in notepad

## Translating Thoughts Into Programming

In my years of programming, I always turn to my trusty tool, that is English. I'll show you how to program by googling

## Viewing the Data

The very first step would be to look at the data.

Google: python load csv pandas

In [2]:
import pandas

df = pandas.read_csv("telecom_churn.csv")

As **convention**, users usually indicate loaded pandas **DataFrame** as df, or anything similar. This is up to you though!

There's also a way to view the data

You can *technically* print it but...

In [11]:
# print(df)

That looks horrible! Can we do better?

What you want is to get a taste of the data,

thus, you get the first few rows, the **head** of the data

In [14]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

## Selecting

Let's say we want to isolate, remove some columns/rows

We can do those here!

### Column

In [20]:
df['State'].head()

0    KS
1    OH
2    NJ
3    OH
4    OK
Name: State, dtype: object

### Row

In [28]:
df.iloc[1].head()

State                  OH
Account length        107
Area code             415
International plan     No
Voice mail plan       Yes
Name: 1, dtype: object

## Tutorial 3.1

Chris from Dep A: ```Get the states and area codes of the file, we also want to know if the customer has churned or not. Can you also export it as out.csv and send it to me?```

\begin{align}
Double\, Click\, To\, Reveal\, Tip\, (1)
%Seems like you need to select multiple columns, Google pandas select multiple columns
\end{align}

\begin{align}
Double\, Click\, To\, Reveal\, Tip\, (2)
%You need to export it as a csv, google pandas to csv
\end{align}

\begin{align}
Double\, Click\, To\, Reveal\, Answer
%df_filter = df[['State', 'Area code', 'Churn']]
%df_filter.to_csv("out.csv", index=False); # index False prevents python from printing the row numbers
%df_test = pandas.read_csv("out.csv")
%df_test.head()
\end{align}

In [46]:
# Your Code here


# Test if you exported it correctly!
# df_test = pandas.read_csv("out.csv")
# df_test.head()

  State  Area code  Churn
0    KS        415  False
1    OH        415  False
2    NJ        415  False
3    OH        408  False
4    OK        415  False

## Splitting

Splitting is quite common if you need to split a string.

The current DataFrame doesn't require splitting, so I'll create one that requires splitting

In [35]:
df_a = \
    pandas.DataFrame({
        'NAME_AGE':['JIN_33', 'ALBERT_51', 'KURT_13', 'ZEWEN_9']
    })

In [36]:
df_a

    NAME_AGE
0     JIN_33
1  ALBERT_51
2    KURT_13
3    ZEWEN_9

\begin{align}
Double\, Click\, To\, Reveal\, Tip\, (1)
%You can google this too!
%Here's an example: dataframe["column_to_split"].str.split("_", n = 1, expand = True)
\end{align}

\begin{align}
Double\, Click\, To\, Reveal\, Tip\, (1)
%df_a["NAME_AGE"].str.split("_", n = 1, expand = True)
\end{align}